// 变量 $+变量名
$w:1090px;
//$len:50%*10; // 500%

// sass中的注释有两种
// 1. // sass有的注释，不会被编译到css文件中
// /* xxx */ 会被编译到css文件中

// 嵌套语法
.wrap{
  height: 30px;
  background-color: rgb(238, 238, 238);
  .top{
    width: $w;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    height: 30px;
    .top_l{
      float: left;
      p{
        float: left;
        margin-right: 20px;
        font-size: 12px;
        line-height: 30px;
        color: rgb(145, 145, 145);
      }
      a{
        color: rgb(145, 145, 145);
        display: inline-block;
        margin-right: 20px;
        font-size: 12px;
        line-height: 30px;
      }
      a:hover{
        color: rgb(255, 43, 131);
      }
    }
    .top_r{
      float: right;
      li{
        float: left;
        font-size: 12px;
        line-height: 30px;
        margin-left: 14px;
        a{
          color: rgb(145, 145, 145);
        }
        .icon-shoucang{
          font-size: 12px;
          color: rgb(145, 145, 145);
          line-height: 30px;
        }
      }
      .icon-xiala{
        font-size: 12px;
        color: rgb(145, 145, 145);
        line-height: 30px;
      }
      .iphone{
        background-image: url(../img/header_sprites1.png);
        background-repeat: no-repeat;
        background-position-x: 0px;
        background-position-y: -20px;
        padding: 0 15px;
        color: rgb(255, 43, 131);
      }
    }
  }
  
}


