$c_w:960px;
$mr:0 auto;

.box{
  border-bottom: 1px solid #999;

  .cart_box{
    width: $c_w;
    height: 32px;
    margin: $mr;
    // background-color: lawngreen;

    .cart_top{
      float: right;

      p{
        font-size: 12px;
        color: #999;
        line-height: 32px;
        float: left;
      }
      ul{
        float: right;
        
        li{
          margin-left: 10px;
          float: left;
          font-size: 12px;
          color: #999;
          line-height: 32px;
          .name{
            color: #ed145b;
          }
          a{
            font-size: 12px;
            color: #999;
            line-height: 32px;
            &:hover{
              color: #ed145b;
            }
          }
        }
      }
    }
  }

  .cart_header{
    width: $c_w;
    height: 67px;
    margin: $mr;
    padding-bottom: 15px;

    .logo{
      float: left;
    }
    .path{
      width: 377px;
      height: 48px;
      background-color: lightblue;
      float: right;
      background: url(../img/order_path.png) no-repeat -2px -2px;
    }
  }
}

.content{
  padding-top: 15px;

  .con_cart{
    width: $c_w;
    margin: $mr;
    height: 868px;

    .con_header{
      width: $c_w;
      margin: $mr;
      height: 30px;

      .con_timer{
        float: left;

        i{
          width: 18px;
          height: 26px;
          display: block;
          background-image: url(../img/icons.png);
          background-repeat: no-repeat;
          background-position-x: -4px;
          background-position-y: 2px;
          padding-top: 8px;
          float: left;
        }
        .time{
          font-size: 12px;
          line-height: 30px;
          margin-bottom: 8px;
          display: block;
          margin-left: 5px;
          float: left;
        }
      }
     
      .con_banner{
        width: 383px;
        height: 30px;
        float: right;
        li{
          float: left;
          .em1{
            width: 26px;
            height: 27px;
            margin-right: 5px;
            background-image: url(../img/header_sprites1.png);
            background-repeat: no-repeat;
            background-position-x: 0;
            background-position-y: -105px; 
            display: block;
            float: left;           

          }
          span{
            font-size: 12px;
            line-height: 30px;
            margin-bottom: 8px;
            margin-right: 5px;
          }
          .em2{
            width: 26px;
            height: 27px;
            margin-right: 5px;
            background-image: url(../img/header_sprites1.png);
            background-repeat: no-repeat;
            background-position-x: 0;
            background-position-y: -139px; 
            display: block;
            float: left;           

          }
          span{
            font-size: 12px;
            line-height: 30px;
            margin-bottom: 8px;
            margin-right: 5px;
          }
          .em3{
            width: 26px;
            height: 27px;
            margin-right: 5px;
            background-image: url(../img/header_sprites1.png);
            background-repeat: no-repeat;
            background-position-x: 0;
            background-position-y: -175px; 
            display: block;
            float: left;           

          }
          span{
            font-size: 12px;
            line-height: 30px;
            margin-bottom: 8px;
            margin-right: 5px;
          }
        }
      }

      
    }

    .car_wrap{
      width: $c_w;
      height: 436px;
      margin: $mr;

      .car_list{
        width: 100%;
        height: 168px;
        margin-top: 10px;
        font-size: 12px;
        border: 1px solid #eee;

        .title{
          width: 959px;
          height: 35px;
          border-left: 4px solid #851b97;
          background-color: #e8e8e8;

          .shopName{
            font-size: 12px;
            font-weight: bold;
            line-height: 35px;
            display: inline-block;
            width: 516px;
            margin-left: 5px;

            .car_check{
              margin: 0 5px;
            }
          }
          .car_other{
            font-size: 12px;            line-height: 35px;
            display: inline-block;
            text-align: center;
          }
          .car_price{
            width: 95px;
          }
          .car_num{
            width: 115px;

          }
          .car_count{
            width: 92px;

          }
          .car_more{
            width: 80px;

          }
        }

        .car_main{
          height: 100px;

          .car_ul{
            float: left;

            .car_item_shop{
              width: 526px;
              height: 100px;
              float: left;
  
              .car_item_check{
                margin-top: 44px;
                margin-left: 20px;
                float: left;
              }
  
              .car_item_box{
                .img_box{
                  display: inline-block;
                  width: 60px;
                  height: 60px;
                  margin-left: 30px;
                  img{
                    width: 60px;
                    height: 60px;
                    vertical-align: middle;
                    margin-top: 22px;
                    margin-left: -10px;
                  }
                }
                .img_title{
                  h2{
                    display: inline-block;
                    width: 250px;
                    height: 18px;
                    line-height: 16px;
                    color: #000;
                    font-size: 13px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  &:hover h2{
                    color: #ed145b;
                    text-decoration: underline;
                  }
                }
                .img_span{
                  display: block;
                  margin-left: 126px;
                  width: 229px;
                  color: #999;
                }
              }
            }

            .car_item_price{
              width: 95px;
              height: 100px;
              padding: 20px;
              float: left;

              .now_price{
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                line-height: 24px;
              }
              .market_price{
                font-size: 12px;
                text-decoration: line-through;
                text-align: center;

              }
            }

            .car_item_num{
              width: 115px;
              height: 100px;
              padding: 20px;
              margin-left: 5px;
              float: left;

              .item_num{
                width: 74px;
                height: 22px;
                border: 1px solid #e5e5e5;
                border-radius: 3px;

                .item_minus{
                  display: block;
                  width: 22px;
                  height: 21px;
                  line-height: 22px;
                  text-align: center;
                  border-right: 1px solid #e5e5e5;
                  float: left;
                  border-spacing: 0;
                  border-collapse: collapse;
                  background-color: #e0e0e041;                
                  cursor:not-allowed;

                }
                .item_add{
                  display: block;
                  width: 22px;
                  height: 21px;
                  line-height: 22px;
                  text-align: center;
                  border-left: 1px solid #e5e5e5;
                  float: left;
                  border-spacing: 0;
                  border-collapse: collapse;
                  background-color: #e0e0e041;
                  cursor: pointer;

                }
                .num_inp{
                  width: 28px;
                  border: 0;
                  outline: none;
                  height: 20px;
                  display: block;
                  float: left;
                  text-align: center;
                  line-height: 22px;
                }
              }
            }

            .car_item_count{
              width: 92px;
              height: 100px;
              padding: 20px 0;
              margin-left: 5px;
              float: left;

              .item_count{
                font-size: 12px;
                font-weight: bold;
                color: #ed145b;
                line-height: 24px;
                text-align: center;
              }
              .all_count{
                font-size: 12px;
                line-height: 24px;
                text-align: center;
              }
            }

            .car_item_more{
              width: 80px;
              height: 100px;
              padding: 20px;
              float: left;
              margin-left: 5px;
              a{
                display: block;
                width: 40px;
                height: 19px;
                margin-top: 15px;
                background-image: url(../img/icons.png);
                background-repeat: no-repeat;
                background-position-x: 2px;
                background-position-y: -28px;
              }
            }

            
          }
          
        }
        .car_footer{
          width: 959px;
          height: 31px;
          background-color: #e8e8e8;

          .car_item_footer{
            float: right;
            width: 400px;
            height: 31px;
            line-height: 31px;
            text-align: right;
            margin-right: 10px;
            span{
              color: #ed145b;
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }

      .car_total{
        width: $c_w;
        height: 50px;
        margin: 10px 0; 
        background-color: #e8e8e8;
        border: 1px solid #eee;

        .car_total_l{
          width: 400px;
          float: left;
          line-height: 50px;
          font-size: 12px;
          color: #333;
          
          .all{
            line-height: 50px;
            font-size: 12px;
            color: #333;
            margin-right: 5px;
            margin-left: 10px;

          }
          a{
            line-height: 50px;
            font-size: 12px;
            color: #333;
            margin: 0 10px;

            &:hover{
              color: #ed145b;
            }
          }
        }

        .car_total_r{
          float: right;
          line-height: 50px;
          font-size: 12px;
          color: #333;
          .total_count{
            font-size: 14px;
            font-weight: bold;
            color: #ed145b;
            line-height: 50px;
            margin: 0 5px;

          }
          .total_price{
            font-size: 18px;
            font-weight: bold;
            color: #ed145b;
            line-height: 50px;
            margin: 0 5px;

          }
          .total_btn{
            display: block;
            float: right;
            width: 154px;
            height: 48px;
            background-color: #ed145b;
            color: white;
            line-height: 48px;
            margin-left: 10px;
            cursor: pointer;
            
          }
        }
      }
    }
  }
}

.car_footerall{
  height: 160px;
  background-color: rgb(242,242,242);
  img{
    width: 878px;
    margin: $mr;
    display: block;
  }

}

.null{
font-size: 18px;
text-align: center;
line-height: 400px;
}
